.page-header {
    margin-top: 0;
}
.header-logo {
    width: 53px;
    height: 48px;
    background-image: url("../images/CityBuzz_logo.png");
    background-repeat: no-repeat;
    background-size: 50px;
    margin-top: -10px;
}
.featuredImg {
    margin-bottom: 15px;
}

.main-section-header {
    margin-top: 0px;
	background: url('../images/header_city_buzz_2.png') no-repeat right top;
    -webkit-background-size: contain; /* For WebKit*/
    -moz-background-size: contain;    /* Mozilla*/
    -o-background-size: contain;      /* Opera*/
    background-size: contain;         /* Generic*/
	
}


.jumbotron h1 {
    font-size: 48px;
}

#form-control {
    font-size: 10px;
}

.leaflet-control-zoom leaflet-bar {
    z-index:30;
}

